<h2>Poster un message</h2>

<p>
  Ce message sera visible par les gens autour de vous. Vous pouvez poster des liens vers les contenus que vous souhaitez partager !
</p>

<%= render 'form' %>

<%= link_to 'Retour', links_path %>
