<!DOCTYPE html>
<html>
<head>
  <title>CloseCloud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p id="message"></p>
  <script>
    var message = document.getElementById("message");

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(store_coordinates);
      } else {
        message.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function date_in_seconds_from_now(seconds) {
      current_date = new Date();
      current_date.setSeconds(current_date.getSeconds() + seconds);
    }

    function store_coordinates(position) {
      Cookies.set("latitude", position.coords.latitude, { expires: date_in_seconds_from_now(5) });
      Cookies.set("longitude", position.coords.longitude);
      Cookies.set("accuracy", position.coords.accuracy);
      location.reload();
    }

    if (Cookies.get("latitude")) {
      message.innerHTML = "Cookie is " + document.cookie;
    } else {
      getLocation();
    }
  </script>
  <%= yield %>
</body>
</html>
