<!DOCTYPE html>
<html>
<head>
  <title>CloseCloud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <p id="message"></p>
    <script>
      var message = document.getElementById("message");
      var geolocation_refresh_time = 60;

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(store_coordinates, handle_geolocation_error);
        } else {
          message.innerHTML = "Geolocation is not supported by this browser.";
        }
      }

      function handle_geolocation_error(error) {
        if (error.code == error.PERMISSION_DENIED) {
          message.innerHTML = "Geolocation was denied by your browser. Please go to your browser settings and activate geolocation.";
        } else {
          message.innerHTML = "Geolocation failed. Please try again.";
        }
      }

      function store_coordinates(position) {
        Cookies.set("latitude", position.coords.latitude);
        Cookies.set("longitude", position.coords.longitude);
        Cookies.set("accuracy", position.coords.accuracy);
        Cookies.set("stored_at", Date.now()/1000);
        location.reload();
      }

      if (!Cookies.get("stored_at") || Date.now()/1000 - Cookies.get("stored_at") > geolocation_refresh_time) {
        getLocation();
      }
    </script>
    <%= yield %>
    <footer class="panel panel-default" style="margin-top:1em">
      <div class="panel-body">
        Des remarques ? des suggestions ? envoyez nous un <a class= "btn btn-primary" href="mailto:aymeric.bouzy@gmail.com,charles.beniac@hec.edu?subject=CloseCloud je kiffe ! Ce serait encore mieux si ...">mail</a> !
      </div>
    </footer>
  </div>
</body>
</html>
