<!DOCTYPE html>
<html>
<head>
  <title>CloseCloud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p id="message"></p>
  <script>
    var message = document.getElementById("message");
    var geolocation_refresh_time = 60;

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(store_coordinates);
      } else {
        message.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function store_coordinates(position) {
      Cookies.set("latitude", position.coords.latitude);
      Cookies.set("longitude", position.coords.longitude);
      Cookies.set("accuracy", position.coords.accuracy);
      Cookies.set("stored_at", (new Date()).getSeconds());
      location.reload();
    }

    if (!Cookies.get("stored_at") || (new Date()).getSeconds() - Cookies.get("stored_at") > geolocation_refresh_time) {
      getLocation();
    }
  </script>
  <%= yield %>
</body>
</html>
